html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--black-color);
  margin: 0px;
}

.section {
  padding: 94px 0;
  margin: auto;
}

.section__nav {
  margin: auto;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: auto;
}

.header__logo {
  color: var(--blue-color);
  text-align: right;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.header__list {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  color: var(--black-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  gap: 32px;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.header__list2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  color: rgb(117, 117, 117);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.link {
  color: #2f303a;
  padding-right: 15px;
  position: relative;
  display: inline-block;
}
.link:hover {
  color: var(--blue-color);
}
.link:hover {
  fill: var(--blue-color);
}

.icon__header__phone {
  width: 10px;
  height: 16px;
  margin-right: 4px;
}

.icon__header__mail {
  width: 16px;
  height: 12px;
  margin-right: 4px;
}

.underline::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--blue-color);
  border-radius: 2px;
  bottom: -32px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 600px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bg__dark {
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(91, 26, 26, 0.4))), url("/imagenes/fondotitulo.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(91, 26, 26, 0.4)), url("/imagenes/fondotitulo.jpg");
  background-image: url(../imagenes/fondotitulo.jpg);
  background-size: cover;
}

.h1__title {
  font-family: "roboto";
  font-weight: 900;
  font-size: 44px;
  font-weight: 60px;
  text-align: center;
  color: var(--white-color);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.reserva__btn {
  color: var(--white-color);
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 10px 32px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--blue-color);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.backdrop {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  background-color: var(--modal-color);
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: opacity 250ms linear, visibility 250ms linear;
  transition: opacity 250ms linear, visibility 250ms linear;
}
.backdrop.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  background: rgb(255, 255, 255);
  border: 1px solid black;
  border-radius: 4px;
  margin: auto;
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.modal__close__btn {
  position: absolute;
  right: 16px;
  top: 16px;
  border-radius: 18px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}
.modal__close__btn__icon {
  width: 30px;
  height: 30px;
  border: 1 px solid black;
  cursor: pointer;
  padding: 0;
}
.modal__close__btn:hover, .modal__close__btn:focus {
  fill: black;
  border-color: var(--blue-color);
}

/* FORMULARIO MODAL */
.container__input {
  position: relative;
  display: block;
  margin-top: 4px;
  margin-bottom: -15px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  padding-left: 40px;
  width: 100%;
}
.form__title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgb(33, 33, 33);
  margin-top: 50px;
}
.form__modal {
  position: relative;
}
.form__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgb(117, 117, 117);
  padding-bottom: 10px;
}
.form__label__coments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
  width: 44px;
  height: 14px;
  border-radius: 4px;
  border: 1px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(117, 117, 117);
  padding-bottom: 10px;
}
.form__label__ckb::before {
  content: "";
  display: block;
  width: 20px;
  height: 15px;
  border: 1px solid green;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 9px;
  margin-bottom: 20px;
}
.form__label__ckb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
  margin-bottom: 30px;
}

.svg__form {
  position: absolute;
  display: block;
  top: 50%;
  left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 17px;
  height: 16px;
}

.txtarea__form__modal {
  resize: none;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  padding-top: 12px;
  padding-left: 16px;
  color: rgba(117, 117, 117, 0.5);
  width: 448px;
  height: 120px;
}

.input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  outline: none;
  padding-left: 40px;
}
.input:focus, .input:focus + .svg__form {
  border-color: var(--blue-color);
  fill: var(--blue-color);
}
.input:hover, .input:hover + .svg__form {
  border-color: var(--blue-color);
  fill: var(--blue-color);
  cursor: pointer;
}
.input__ckb:checked + .form__label__ckb::before {
  background-image: url(../imagenes/iconcheck.svg);
  border-color: var(--blue-color);
  background-color: var(--blue-color);
}

.btn__sub {
  background: rgb(33, 150, 243);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-left: 120px;
  margin-top: -50px;
}
.btn__sub__sub:hover {
  color: var(--white-color);
  border-color: var(--blue-color);
}
.btn__sub.ckb__personalized {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.visually_hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 0px !important;
  width: 0px !important;
  overflow: hidden;
}

.h2__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.h2__text__title {
  color: var(--black-color);
  font-size: 14px;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.card__advantage {
  width: 270px;
  background: rgb(245, 244, 250);
  width: 270px;
  height: 120px;
  top: 774px;
  left: 215px;
  border-radius: 4px;
}

.svg__whos {
  border-radius: 4px;
  margin-top: 25px;
  margin-left: 100px;
  width: 70px;
  height: 70px;
}

.ph2__list {
  color: #757575;
  font-size: 14px;
  font-family: Roboto;
  line-height: 24px;
  letter-spacing: 0.42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.whos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #f5f4fa;
}

.app__deck {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--black-color);
  height: 70px;
  margin-top: -73px;
  background: rgba(47, 48, 58, 0.8);
}

.h2__subtitle {
  color: var(--black-color);
  text-align: center;
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-top: 90px;
}

.h2__subtitle {
  color: var(--black-color);
  text-align: center;
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-top: 90px;
}

.our__team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bg__gray {
  background-color: #f5f4fa;
}

.cards {
  width: 270px;
  height: 428px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 0px 0px 4px 4px;
  background: var(--white-color);
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.pics__people {
  width: 270px;
  height: 260px;
}

.text__name {
  color: var(--black-color);
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.text__profession {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  letter-spacing: 0.48px;
}

.icons__social__svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  padding-left: 0px;
}

.svg__list__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  top: 12px;
  left: 12px;
  border-radius: 25px;
}
.svg__list__social:hover {
  background-color: var(--blue-color);
}
.svg__list__social:hover .svg__icon__social {
  fill: var(--white-color);
}

.svg__icon__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20px;
  height: 20px;
  fill: rgb(175, 177, 184);
}

.title__customers {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
}

.customers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

.customer__list {
  width: 170px;
  height: 81px;
  border-radius: 4px;
  border: solid rgb(175, 177, 184) 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.customer__list:hover {
  border: solid var(--blue-color) 1px;
}
.customer__list:hover .svg__customers {
  fill: var(--blue-color);
}

.svg__customers {
  width: 106px;
  height: 52.8260879517px;
  padding: 7px 33px 0px 32px;
  fill: rgb(175, 177, 184);
}

footer {
  background-color: rgb(47, 48, 58);
}

.footer__title {
  color: #f5f4fa;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 252px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer__logo {
  color: var(--blue-color);
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
  padding-top: 60px;
}

.city {
  width: 231px;
  height: 21px;
  color: var(--white-color);
  font-size: 14px;
  font-family: Roboto;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.email__cel {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-family: Roboto;
  line-height: 24px;
  letter-spacing: 0.42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 231px;
  height: 21px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-top: 30px;
}

.container__footer {
  margin-left: 90px;
  margin-top: 70px;
}

.svg__list__socialfooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  top: 12px;
  left: 12px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
}
.svg__list__socialfooter:hover {
  background-color: var(--blue-color);
}
.svg__list__socialfooter:hover:hover .svg__icon__social {
  fill: #eee;
}

footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.title__footer__form {
  margin-top: 87px;
  width: 275px;
  height: 16px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgb(255, 255, 255);
  margin-left: 40px;
}

.form__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input__footer__mail {
  margin-left: 40px;
  background-color: transparent;
  width: 358px;
  height: 50px;
  border-color: rgba(255, 255, 255, 0.3);
  padding-left: 18px;
}

.btn__form__footer {
  background-color: var(--blue-color);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  color: var(--white-color);
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  margin-left: 30px;
}

.svg__footer__btn {
  margin-left: 8px;
  margin-top: -1px;
}

.input__ckb {
  cursor: pointer;
}

.btn__sub {
  cursor: pointer;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
}

.div__buttons .link__btn:hover,
.div__buttons .link__btn:focus {
  background-color: var(--blue-color);
  color: var(--white-color);
  -webkit-box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.12);
}

.div__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.div__buttonslink__btn {
  background-color: #f5f4fa;
  color: var(--black-color);
}

.link__btn {
  font-family: "roboto";
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  border: 0;
  border-radius: 4px;
  padding: 6px 24px;
  margin-right: 8px;
  cursor: pointer;
}

.card__container {
  width: 370px;
}
.card__container:hover .card__animation {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.card__animation {
  position: absolute;
  top: 0%;
  height: 294px;
  width: 370px;
  background: rgba(33, 150, 243, 0.9);
  letter-spacing: 0.03em;
  color: var(--white-color);
  padding: 63px 24px;
  -webkit-transform: translateY(105%);
          transform: translateY(105%);
  -webkit-transition: -webkit-transform 250ms ease;
  transition: -webkit-transform 250ms ease;
  transition: transform 250ms ease;
  transition: transform 250ms ease, -webkit-transform 250ms ease;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card__image {
  position: relative;
  overflow: hidden;
}

.container__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border: 5px;
  gap: 21px;
}

.flex__item {
  border: 1px solid var(--white-color);
  background: var(--white-color);
  -webkit-box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.flex__item:hover {
  -webkit-box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

.h3__imgservices {
  width: 322px;
  color: var(--black-color);
  font-size: 18px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
  padding-left: 24px;
}

.p__imgservices {
  padding-left: 24px;
  color: #757575;
  font-size: 16px;
  font-family: Roboto;
  line-height: 30px;
  letter-spacing: 0.48px;
}

:root {
  --blue-color: #2196f3;
  --black-color: #212121;
  --white-color: #ffffff;
  --modal-color: rgba(0, 0, 0, 0.5);
}/*# sourceMappingURL=main.css.map */