html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  margin: 0px;
}

.container {
  width: 1200px;
  margin: auto;
}
.section {
  padding: 94px 0;
  margin: auto;
}

.section-nav {
  margin: auto;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-logo {
  color: #2196f3;
  text-align: right;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.header-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  color: #212121;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  flex-shrink: 0;
  /* background: #fff; */
  gap: 32px;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.header-list2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  color: rgba(117, 117, 117, 1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  flex-shrink: 0;
}

.link {
  color: #2f303a;
  padding-right: 15px;
  position: relative;
  display: inline-block;
}

.link:hover {
  color: #2196f3;
}

.link:hover {
  fill: #2196f3;
}

.icon-header-phone {
  width: 10px;
  height: 16px;
  margin-right: 4px;
}

.icon-header-mail {
  width: 16px;
  height: 12px;
  margin-right: 4px;
}

.underline::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: -32px;
}

.title {
  display: flex;
  height: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg-dark {
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(91, 26, 26, 0.4)
    ),
    url("/imagenes/fondotitulo.jpg");
  background-image: url(../imagenes/fondotitulo.jpg);
  background-size: cover;
}

.h1-title {
  font-family: "roboto";
  font-weight: 900;
  font-size: 44px;
  font-weight: 60px;
  text-align: center;
  color: #ffffff;
  letter-spacing: 0.06em;

  text-transform: uppercase;
}

.reserva-btn {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  display: inline-flex;
  padding: 10px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/* MODAL */
.backdrop {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  position: relative;
  width: 528px;
  height: 581px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid black;
  border-radius: 4px;
  margin: auto;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.modal-close-btn {
  position: absolute;
  right: 16px;
  top: 16px;
  border-radius: 18px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}
.modal-close-btn-icon {
  width: 30px;
  height: 30px;
  border: 1 px solid black;
  cursor: pointer;
  padding: 0;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: black;
  border-color: #2196f3;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* FORMULARIO MODAL */
.form-title {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(33, 33, 33, 1);
  margin-top: 50px;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-left: 40px;
  width: 100%;
}

.form-modal {
  position: relative;
}

.svg-form {
  position: absolute;
  padding-top: 24px;
  padding-left: 12px;
  color: #212121;
}

.form-label {
  display: flex;
  position: relative;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0.01em;
  text-align: left;
  width: 44px;
  height: 14px;
  border-radius: 4px;
  border: 1px;
  align-items: center;
  color: rgba(117, 117, 117, 1);
}

.input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  display: block;
  outline: none;
  padding-left: 40px;
}

/* REVISAR */
.input:hover,
.input:focus {
  border: 1px solid #2196f3;
}

.svg-form:hover {
  fill: #2196f3;
}
/* REVISAR */

.form-label-ckb {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(117, 117, 117, 1);
}

.input-ckb {
  width: 16px;
  height: 15px;
  border-radius: 4px;
  border: 1px;
  /* color: rgba(33, 33, 33, 1); */
  border: 0.2px solid rgba(255, 255, 255, 1);
  border-radius: 2px;
}

.btn-sub {
  background: rgba(33, 150, 243, 1);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  margin-left: 120px;
}

.btn-sub:hover {
  color: white;
  border-color: #2196f3;
}

/* QUIENES SOMOS */

.h2-text {
  display: flex;
  justify-content: space-between;
}

.card-advantage {
  width: 270px;
  background: rgba(245, 244, 250, 1);
  width: 270px;
  height: 120px;
  top: 774px;
  left: 215px;
  border-radius: 4px;
}
.svg-whos {
  border-radius: 4px;
  margin-top: 25px;
  margin-left: 100px;
}

.h2-title {
  color: #212121;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.ph2-list {
  color: #757575;
  font-size: 14px;
  font-family: Roboto;
  line-height: 24px;
  letter-spacing: 0.42px;
  display: flex;
  width: 270px;
  flex-direction: column;
  flex-shrink: 0;
}

.whos {
  display: flex;
  justify-content: space-between;
  color: #f5f4fa;
}

.app-deck {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  height: 70px;
  margin-top: -73px;
  background: rgba(47, 48, 58, 0.8);
}

.h2-subtitle {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-family: Roboto;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-top: 90px;
}
.our-team {
  display: flex;
  justify-content: space-between;
}

.bg-gray {
  background-color: #f5f4fa;
}

.cards {
  width: 270px;
  height: 428px;
  flex-shrink: 0;
  border-radius: 0px 0px 4px 4px;
  background: #fff;

  /* material shadow v1 */
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.pics-people {
  width: 270px;
  height: 260px;
}

.text-name {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  font-weight: 500;
  letter-spacing: 0.48px;
}

.text-profession {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-family: Roboto;
  letter-spacing: 0.48px;
}

.icons-social-svg {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding-left: 0px;
}
.svg-list-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  top: 12px;
  left: 12px;
  /* margin-top: 16px; */
  /* margin-left: 5px; */
  border-radius: 25px;
}
.svg-icon-social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  fill: rgba(175, 177, 184, 1);
}

.svg-list-social:hover {
  background-color: #2196f3;
}

.svg-list-social:hover .svg-icon-social {
  fill: #eee;
}

.tittle-customers {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
  text-align: center;
}

.customers-container {
  display: flex;
  gap: 40px;
}

.customer-list {
  width: 170px;
  height: 81px;
  border-radius: 4px;
  border: solid rgba(175, 177, 184, 1) 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-customers {
  width: 106px;
  height: 52.826087951660156px;
  padding: 7px 33px 0px 32px;
  fill: rgba(175, 177, 184, 1);
}

.customer-list:hover {
  border: solid #2196f3 1px;
}
.customer-list:hover .svg-customers {
  fill: #2196f3;
}

footer {
  background-color: rgba(47, 48, 58, 1);
}
.tittle-footer {
  color: #f5f4fa;
}

.footer-list {
  display: flex;
  height: 252px;
  flex-direction: column;
  flex-shrink: 0;
}

.footer-logo {
  color: #2196f3;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
  padding-top: 60px;
}

.city {
  width: 231px;
  height: 21px;
  color: #fff;
  font-size: 14px;
  font-family: Roboto;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.email-cel {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-family: Roboto;
  line-height: 24px;
  letter-spacing: 0.42px;
  display: flex;
  width: 231px;
  height: 21px;
  flex-shrink: 0;
  padding-top: 30px;
}
.container-footer {
  margin-left: 90px;
  margin-top: 70px;
}

.svg-list-socialfooter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  top: 12px;
  left: 12px;
  /* margin-top: 16px; */
  /* margin-left: 5px; */
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
}
.svg-list-socialfooter:hover {
  background-color: #2196f3;
}

.svg-list-socialfooter:hover .svg-icon-social {
  fill: #eee;
}

footer .container {
  display: flex;
  align-items: flex-start;
}

.form-footer {
  display: flex;
  align-items: flex-end;
}

.input-footer {
  margin-top: 85px;
  background-color: transparent;
}

.label-footer {
  width: 275px;
  height: 16px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin-left: 40px;
}

.btn-form-footer {
  background-color: #2196f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  border-radius: 4px;
}

.input-ckb {
  cursor: pointer;
}

.btn-sub {
  cursor: pointer;   
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
}

/* PORTAFOLIO  */

  .div-buttons
  .link-btn {
  background-color: #f5f4fa;
  color: #212121;
}

.div-buttons .link-btn:hover,
.div-buttons .link-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.12);
}

.div-buttons {
  display: flex;
  justify-content: center;
}

.link-btn {
  font-family: "roboto";
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  border: 0;
  border-radius: 4px;
  padding: 6px 24px;
  margin-right: 8px;
  cursor: pointer;
}

.card-container {
  width: 370px;
  /* border: 1px solid #eeeeee; */
}
.card-animation {
  position: absolute;
  top: 0%;
  height: 294px;
  width: 370px;
  background: rgba(33, 150, 243, 0.9);
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  transform: translateY(105%);
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card-image {
  position: relative;
  overflow: hidden;
}
.card-container:hover .card-animation {
  transform: translateY(0%);
}
.container-section {
  display: flex;
  flex-wrap: wrap;
  border: 5px;
  gap: 21px;
}

.flex-item {
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.flex-item:hover {
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
}

.h3-imgservices {
  width: 322px;
  color: #212121;
  font-size: 18px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
  padding-left: 24px;
}

.p-imgservices {
  padding-left: 24px;
  color: #757575;
  font-size: 16px;
  font-family: Roboto;
  line-height: 30px;
  letter-spacing: 0.48px;
}
