.div__buttons .link__btn {
  background-color: #f5f4fa;
  color: var(--black-color);
}

.div__buttons .link__btn:hover,
.div__buttons .link__btn:focus {
  background-color: var(--blue-color);
  color: var(--white-color);
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.12);
}

.div__buttons {
  display: flex;
  justify-content: center;
}

.link__btn {
  font-family: "roboto";
  font-size: 16px;
  line-height: 1.6;
  font-weight: 500;
  border: 0;
  border-radius: 4px;
  padding: 6px 24px;
  margin-right: 8px;
  cursor: pointer;
}
