footer {
  background-color: rgba(47, 48, 58, 1);
}
.footer__title {
  color: #f5f4fa;
}

.footer__list {
  display: flex;
  height: 252px;
  flex-direction: column;
  flex-shrink: 0;
}

.footer__logo {
  color: $blue-color;
  font-size: 26px;
  font-family: $font-relaway;
  font-weight: 700;
  letter-spacing: 0.78px;
  padding-top: 60px;
}

.city {
  width: 231px;
  height: 21px;
  color: $white-color;
  font-size: 14px;
  font-family: $font-robot;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.email__cel {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-family: $font-robot;
  line-height: 24px;
  letter-spacing: 0.42px;
  display: flex;
  width: 231px;
  height: 21px;
  flex-shrink: 0;
  padding-top: 30px;
}
.container__footer {
  margin-left: 90px;
  margin-top: 70px;
}

.svg__list__socialfooter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  top: 12px;
  left: 12px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.1);
  &:hover {
    background-color: $blue-color;
    &:hover .svg__icon__social {
      fill: #eee;
    }
  }
}

footer .container {
  display: flex;
  align-items: flex-start;
}

.title__footer__form {
  margin-top: 87px;
  width: 275px;
  height: 16px;
  font-family: $font-robot;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin-left: 40px;
}

.form__footer {
  display: flex;
}

.input__footer__mail {
  margin-left: 40px;
  background-color: transparent;
  width: 358px;
  height: 50px;
  border-color: rgba(255, 255, 255, 0.3);
  padding-left: 18px;
}

.btn__form__footer {
  background-color: $blue-color;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  color: $white-color;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  margin-left: 30px;
}

.svg__footer__btn {
  margin-left: 8px;
  margin-top: -1px;
}

.input__ckb {
  cursor: pointer;
}

.btn__sub {
  cursor: pointer;
  font-family: $font-robot;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.06em;
  text-align: center;
}
