.header__logo {
  color: var(--blue-color);
  text-align: right;
  font-size: 26px;
  font-family: Raleway;
  font-weight: 700;
  letter-spacing: 0.78px;
}

.header__list {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  color: var(--black-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  flex-shrink: 0;
  gap: 32px;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.header__list2 {
  font-weight: 500;
  font-size: 14px;
  line-height: 16.41px;
  color: rgba(117, 117, 117, 1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  flex-shrink: 0;
}

.link {
  color: #2f303a;
  padding-right: 15px;
  position: relative;
  display: inline-block;
  &:hover {
    color: var(--blue-color);
  }
  &:hover {
    fill: var(--blue-color);
  }
}

.icon__header__phone {
  width: 10px;
  height: 16px;
  margin-right: 4px;
}

.icon__header__mail {
  width: 16px;
  height: 12px;
  margin-right: 4px;
}

.underline::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--blue-color);
  border-radius: 2px;
  bottom: -32px;
}
