.title {
  display: flex;
  height: 600px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bg__dark {
  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(91, 26, 26, 0.4)
    ),
    url("/imagenes/fondotitulo.jpg");
  background-image: url(../imagenes/fondotitulo.jpg);
  background-size: cover;
}

.h1__title {
  font-family: $font-robot;
  font-weight: 900;
  font-size: 44px;
  font-weight: 60px;
  text-align: center;
  color: $white-color;
  letter-spacing: 0.06em;

  text-transform: uppercase;
}

.reserva__btn {
  color: $white-color;
  text-align: center;
  font-size: 16px;
  font-family: $font-robot;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  display: inline-flex;
  padding: 10px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: $blue-color;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}